# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out
node_modules
hanayo
hanayo.conf
team.json
static/profbackgrounds/*
!static/profbackgrounds/.keep
semantic/gulpfile.tmp.*.js
/_
static/oauth-apps/*
!static/oauth-apps/.keep
