{{/*###
Handler=/donate
TitleBar=Support Kawata
KyutGrill=donate2.png
*/}}
{{ define "tpl" }}
{{ $global := .Context }}
{{ $ := $ }}
<div class="ui container">
	{{ $ief := ieForm .Gin }}
	{{ with .Get "users/self/donor_info" }}
		{{ if .has_donor }}
			<div class="ui segment">
				<h1 class="ui center aligned header no bottom margin" style="margin: 0 auto; display: table;">
					<i class="red heart icon" style="font-size: 90%;"></i> <div class="content">{{ $.T "You are a donor!" }}</div>
				</h1>
				<div class="ui centered subtitle" style="font-size:1.2rem;">
					{{ $.T "You are currently a donor! Thank you for your support! ❤️" | html }}
				</div>
			</div>
		{{ end }}
		<div class="ui segments">
			<div class="ui segment">
				<h3>Why donate?</h3>
				<p>While our server is 100% free to play, without any ads, data mining or any annoyment as such, all of this cost us some money. The server is entirely funded off our pockets.</p>
				<p>We will never any put ads, or do any nasty business with your data, and we aim at remaining 100% free. We are accepting donations as a way you can support us, if you can afford too, and show your love to Kawata! And of course, will be getting a few perks for donating!</p>
			</div>
		</div>
		<div class="ui segment">
			<h1 class="ui center aligned header">
				{{ $.T "What do I get?" }}
			</h1>
			<h4 class="ui horizontal divider header">
				{{ $.T "Here are the perks you get as a donor!" }}
			</h4>
			<div class="ui internally celled stackable grid">
				<div class="row">
					<div class="four wide column">
						<h3 class="ui header">{{ $.T "Yellow username" }}</h3>
						{{ $.T "Just like in the regular osu!, you get a <b>yellow username</b> in the in-game chat to show the world that you have supported Kawata!" | html }}
					</div>
					<div class="four wide column">
						<h3 class="ui header">{{ $.T "Donor badge" }}</h3>
						{{ $.T "You will get a beautiful <b>donor badge</b> on your profile, to show off your support!" | html }}
					</div>
					<div class="four wide column">
						<h3 class="ui header">{{ $.T "Custom badge" }}</h3>
						{{ $.T "You get to be able to create your <b>own personal badge</b>, with custom text and icon, to show off on your profile!" | html }}
					</div>
					<div class="four wide column">
						<h3 class="ui header">{{ $.T "Friends ranking" }}</h3>
						{{ $.T "You will get access to the <b>Friends ranking leaderboard</b>, so you can compete with the people you want to compete with!" | html }}
					</div>
				</div>
				<div class="row">
					<div class="four wide column">
						<h3 class="ui header">{{ $.T "Discord privileges" }}</h3>
						{{ $.T "You'll get exclusive access to the <b>\"#donor-chat\"</b> channels on our Discord server, and you'll get a custom role with custom username colour!" | html }}
					</div>
					<div class="four wide column">
						<h3 class="ui header">{{ $.T "Profile background" }}</h3>
						{{ $.T "How about <b>using the background of your choice on your profile</b>? Being a donor, you will be able to set any image or colour as your profile background!" | html }}
					</div>
					<div class="four wide column">
						<h3 class="ui header">{{ $.T "Username change" }}</h3>
						{{ $.T "As a normal user, you will only be allowed to change your username once. With donor privileges, you can change your username as many times as you want!" | html }}
					</div>
				</div>
			</div>
			{{ if $global.User.ID }}
				<h4 class="ui horizontal divider header">
					{{ $.T "Payment" }}
				</h4>
				<p>
					{{ $.T "At the moment, we only accept <b>PayPal Friends & Family</b> as a payment method, as we do not have the resources to support other methods, at the moment." | html }}
				</p>
				<p>
					{{ $.T "Make sure you include your username, as well as anything you wanted to say us, as your donation message! :)" | html }}
				</p>
				<h2 align="center">One month of donor costs: €1.49</h2>

				<a href="http://paypal.me/furyzz" target="_blank">
					<img src="https://www.paypalobjects.com/webstatic/en_US/i/buttons/checkout-logo-medium.png" alt="Check out with PayPal" class="center" />
				</a>

				<h4 class="ui horizontal divider header">
					{{ $.T "I've donated, now what?" }}
				</h4>
				{{ $.T "You'll have to wait until we verify and process your payment. It can take up to <b>12 hours</b>. If 12 hours have passed and you still haven't received your Donor tag, contact a <b>Dev/Community Manager</b> in our Discord server or send an email to <b><a href=\"mailto:support@ripple.moe\">support@ripple.moe</a></b>. Once we have processed your payment, you'll receive an <b>email</b> to the address you've used to sign up and you'll get <b>all the donor privileges, except the Discord ones</b>. To get the Discord donor privileges, go <a href=\"/settings/discord\">here</a>." | html }}
			{{ else }}
				<div class="ui divider"></div>
				<h1 class="ui center aligned header">{{ $.T "Please log in to get supporter" }}</h1>
			{{ end }}
		</div>
	{{ end }}
</div>
{{ end }}
